/* CSS Document */

#canvasContainer {
	position:relative;
	border: 2px solid #888888;
	background-color: #EEEEEE;
	border-radius: 25px;
	width:500px;	
  	height: 200px;
}

#signature {
  height:200px;
  width: 500px;
}